/* This code remove margins from page 
and makes the body to take all the height available
in the page */
html, body {
    height: 100%;
    margin: 0;
    overflow: hidden;
}

.body-back-ground {
    background-image: url('./img/background.jpg');
    background-repeat: no-repeat;
    background-position: 20% 63%;
    background-size: 175%;
}

#content {
    /* BODY DISPLAY */
    display: grid;
    grid-template-columns: 80px 1fr 1fr .3fr;
    grid-template-rows: 1fr 1fr 1fr;
}   

/* HEADER */
#header-1 {
    display: grid;
    grid-template-columns: 30px;
    gap: 240px;
}

#header-2 {
    margin-top: 20px;
}

#logo-plus-brand {
    display: grid;
    grid-template-columns: 60px 40px;
    gap: 42px;
    /* align-content: space-between; */
}

#logo-plus-brand img {
    width: 200%;
    margin: 0;
    padding: 0;
}

h1 {
    display: flex;
    justify-items: flex-start;
    align-items: flex-end;
    font-size: 30px;
}


ul {
    writing-mode: vertical-lr;
    margin: 0;
    padding: 0;
    list-style: none;
    color: #215732;
}

a {
    cursor: pointer;
}

a:hover {
    text-decoration: line-through;
}

.nav-bar {
    display: grid;
    grid-template-columns: 51px;
    grid-template-rows: 32px;
    grid-auto-flow: column;
    grid-gap: 15px
}


/* MAIN */

#the-home {
    display: flex;
    flex-direction: column;
    grid-row-start: 2;
    grid-column-start: 2;
    justify-content: flex-end;
}

#first-hero {
    width: 610px;
    display: flex;
    align-self: center;
    font-size: 48px;
    color: #215732;
    margin: 0;
    padding: 0;
    line-height: 40px;
}

#second-hero {
    margin: 0;
    padding: 0;
    width: 600px;
    align-self: center;
}

#second-hero span, 
#second-hero h1 {
    font-size: 16px;
    font-weight: 200;
    color: #215732;
}

#second-hero h1 {
    display: block;
}

#brand-name {
    position: absolute;
    left: 84%;
    writing-mode: tb;
    top: 70px;
}

#brand-name h1 {
    font-size: 115px;
}

/* MENU */
.menu-background {
    background-image: url('./img/background.png');
}
#the-menu-first-div {
    position: absolute;
    top: 260px;
    left: 100px;
    width: 500px;
    height: 240px;
    background-color: #215732; 
    grid-column-start: 2;
    align-content: center;
    border-top-left-radius: 30% 24%;
    border-top-right-radius: 70% 81%;
    border-bottom-right-radius: 80% 19%;
    border-bottom-left-radius: 20% 76%;
}

#the-menu-second-div {
    position: absolute;
    top: 205px;
    left: 170px;
    width: 314px;
    height: 351px;
    background-color: #B7CADB;
    grid-column-start: 2;
    align-content: center;
    border-radius: 30% 70% 70% 30% / 30% 30% 70% 70%;
}

.cup-container {
    position: absolute;
    top: 280px;
    left: 220px;
}

.cup-container img {
    width: 180%;
}

table {
    table-layout: fixed;
    width: 100%;
    border-collapse: collapse;
    grid-row-start: 1;
    grid-row-end: 3;
    grid-column-start: 3;
    margin-top: 40px;
}

td {
    border-top: 1px solid;
    padding: 5px;
}