/* This code remove margins from page 
and makes the body to take all the height available
in the page */
html, body {
    height: 100%;
    margin: 0;
    overflow: hidden;
}

#content {
    display: flex;
    flex-direction: column;
}

/* HEADER */
header {
    background-color: white;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    /* margin-right: 256px; */
    z-index: 6;
}

.nav-bar {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-content: center;
    align-items: center;
}

ul {
    margin: 0;
    padding: 0;
}

li {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: rgb(111, 78, 55);
    cursor: pointer;
}

a:visited {
    text-decoration: none;
    color: rgb(111, 78, 55);
}


a:hover {
    border-bottom: 3px solid #215732;
}

/* image animation */
@keyframes floating {
    from {transform: translateY(0);}
    to {transform: translateY(50px);}
}

/* apply animation */
.first-img-img, .second-img-img, .third-img-img {
    animation-name: floating;
    animation-duration: 4s;
    animation-iteration-count: infinite;
    animation-direction: alternate-reverse;
    animation-timing-function: ease-in-out;
}

.first-img-img {
    position: absolute;
    top: -75px;
}

.second-img-img  {
    position: absolute;
    left: 86%;
    top: 40%;
}

.third-img-img {
    position: absolute;
    left: 68%;
    top: -200px;
}

img {
    z-index: 7;
}
/* ========================= */

/* MAIN CONTENT */
/* back-image */
.back-image, .the-home {
    height: 500px;
    width: 1130px;
    background-color: beige;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2.2rem;
    color: #215732;
    font-family: Ration;
    /* z-index: 2; */
}

/* ============================ */
/* Overlay effects */

@keyframes first {
    from {transform: translateY(-590px);}
    to {transform: translateY(-20px);}
}

@keyframes second {
    0% {transform: translateY(-590px);}
    100% {transform: translateY(-20px);}
}

.white-div {
    position: absolute;
    background-color: rgb(255, 255, 255);
    height: 500px;
    width: 1130px;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    left: 119px;
    animation-name: first;
    animation-duration: 1s; 
    /* z-index: 1; */
    animation-fill-mode: forwards;
}

.second-overlay {
    position: absolute;
    background-color: beige;
   height: 500px;
    width: 1130px;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    left: 119px;
    animation-name: second;
    animation-duration: 1s;
    /* animation-delay: 4s; */
    animation-fill-mode: forwards;
}

/*  */
@keyframes appear {
    /* from { visibility: hidden; } */
    to { visibility: visible; }    
}

.center-logo-container {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    visibility: hidden;
    animation-name: appear;
    animation-duration: 2s;
    animation-delay: 0.4s;
    top: -288px;
    /* z-index: 2; */
    font-size: 4.4rem;
}

.the-logo {
    position: absolute;
    width: 30%;
    top: 380px;
}

.the-contact {
    visibility: hidden;
    position: absolute;
    z-index: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    animation-name: appear;
    animation-duration: 2s;
    animation-delay: 2.4s;
    top: 328px;
    left: 506px;
    animation-fill-mode: forwards;
    font-size: 1.4em;
    color: #215732;
}




