/* This code remove margins from page 
and makes the body to take all the height available
in the page */
html, body {
    height: 100%;
    margin: 0;
    overflow: hidden;
}

.body-back-ground {
    background-image: url('./img/background.jpg');
    background-repeat: no-repeat;
    background-position: 20% 63%;
    background-size: 175%;
}

#content {
    /* BODY DISPLAY */
    display: grid;
    grid-template-columns: 80px 1fr 1fr .3fr;
    grid-template-rows: 1fr 1fr 1fr;
}   

/* HEADER */
#header-1 {
    display: grid;
    grid-template-columns: 30px;
    gap: 240px;
}

#header-2 {
    margin-top: 20px;
}

#logo-plus-brand {
    display: grid;
    grid-template-columns: 60px 40px;
    gap: 42px;
    /* align-content: space-between; */
}

#logo-plus-brand img {
    width: 200%;
    margin: 0;
    padding: 0;
}

h1 {
    display: flex;
    justify-items: flex-start;
    align-items: flex-end;
    font-size: 30px;
}


ul {
    writing-mode: vertical-lr;
    margin: 0;
    padding: 0;
    list-style: none;
    color: #215732;
}

a {
    cursor: pointer;
}

a:hover {
    text-decoration: line-through;
}

.nav-bar {
    display: grid;
    grid-template-columns: 51px;
    grid-template-rows: 32px;
    grid-auto-flow: column;
    grid-gap: 15px
}


/* MAIN */

#the-home {
    display: flex;
    flex-direction: column;
    grid-row-start: 2;
    grid-column-start: 2;
    justify-content: flex-end;
}

#first-hero {
    width: 610px;
    display: flex;
    align-self: center;
    font-size: 48px;
    color: #215732;
    margin: 0;
    padding: 0;
    line-height: 40px;
}

#second-hero {
    margin: 0;
    padding: 0;
    width: 600px;
    align-self: center;
}

#second-hero span, 
#second-hero h1 {
    font-size: 16px;
    font-weight: 200;
    color: #215732;
}

#second-hero h1 {
    display: block;
}

#brand-name {
    position: absolute;
    left: 84%;
    writing-mode: tb;
    top: 70px;
}

#brand-name h1 {
    font-size: 115px;
}

/* MENU */

.menu-background {
    background-image: url('./img/background.png');
}

#the-menu-first-div {
    position: absolute;
    top: 260px;
    left: 100px;
    width: 500px;
    height: 240px;
    background-color: #215732; 
    grid-column-start: 2;
    align-content: center;
    border-top-left-radius: 30% 24%;
    border-top-right-radius: 70% 81%;
    border-bottom-right-radius: 80% 19%;
    border-bottom-left-radius: 20% 76%;
}

#the-menu-second-div {
    position: absolute;
    top: 205px;
    left: 170px;
    width: 314px;
    height: 351px;
    background-color: #B7CADB;
    grid-column-start: 2;
    align-content: center;
    border-radius: 30% 70% 70% 30% / 30% 30% 70% 70%;
}

.cup-container {
    position: absolute;
    top: 280px;
    left: 220px;
}

.cup-container img {
    width: 180%;
}

.the-menu {
    display: grid;
    grid-column-start: 3;
    grid-row-start: 1;
     grid-row-end: 3;
    margin-top: 40px;
    color: #215732;;
}

.rows {
    border-top: 1px solid;
    overflow: hidden;
    height: 43px;
}

@keyframes moveToTop {
    from {transform: translateY(0px);}
    to {transform: translateY(-30px);}
}

@keyframes moveToBottom {
    from {transform: translateY(-30px);}
    to {transform: translateY(0px);}
}

/* Move each coffee to top on hover */
.rows:hover .spans, .rows:hover .test {
    /* first animation */
    animation-name: moveToTop;
    animation-duration: .2s;
    animation-fill-mode: forwards;
}

/* Move each coffee to bottom when on hover
effect is done */
.rows .spans, .rows .test {
    /* first animation */
    animation-name: moveToBottom;
    animation-duration: .2s;
    animation-fill-mode: forwards;
}

.spans {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding: 12px;
    cursor: pointer;
    margin: 0;
}

.data3 {
    display: flex;
    align-content: center;
    justify-content: center;
    gap: 15px;
}

.sugar-free, .low-calories, .bio {
    width: 15%;
}

.test {
    font-size: 20px;
    width: 3000px;
    cursor: pointer;
    color: #8b4513;
}

.runn-text-1, .runn-text-2, .runn-text-3 {
    animation-duration: 10s;
    animation-timing-function: linear;
    animation-delay: 0s;
    animation-iteration-count: infinite;
    animation-direction: normal;
    animation-fill-mode: none;
    animation-play-state: running;
    animation-name: scroll;
    position: absolute;
}

.runn-text-2 {
    left: 30%;
}

.runn-text-3 {
    left: 50%;
}

@keyframes scroll {
    0% {transform: translate(0,0);}
    100% {transform: translate(-900px,0);}
}

/* IMAGE CUP EFFECT */

.img-container {
    position: absolute;
    left: 232px;
    top: -250px;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
}

.img-container div {
    grid-column-start: 1;
    grid-row-start: 1;
}

.img-container img {
    width: 170%;
}

.show {
    animation-name: cupDown;
    animation-duration: .4s;
    animation-fill-mode: forwards;
}

@keyframes cupDown {
    0%  {transform: translateY(0px);}
    100% {transform: translateY(540px);}  
}


/* STEAM */
.list-container {
    grid-column-start: 2;
    grid-row-start: 2;
    width: min-content;
    height: min-content;
    position: relative;
    left: 200px;
    top:62px;
}

.list-container ul {
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
    gap: 20px;
}

.show-steam {                                  /* .steam-list-item */
    background-color: #a8a4a4;
    width: 10px;
    height: 10px;
    border-radius: 10px;
    box-shadow: 10px 10px 20px 20px #a8a4a4;
    opacity: 0;

}

.list-container ul li {
    animation-name: steam1;
    animation-duration: 3s;
    /* animation-delay: 20s; */
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    
}

@keyframes steam1 {
    0% {transform: translateY(0); opacity: .7;}
    50% {transform: translateY(-20px); opacity: 0;}
}




